<!DOCTYPE html><html xmlns:th="http://www.thymeleaf.org"><head><meta charset="UTF-8" /><title>预约</title><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"><link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/></head><body class="container-fluid">	<form id="form" action="/tickets/" class="form-horizontal">		<input type="hidden" name="entityType" /> 		<input type="hidden" name="entityId" />		<input type="hidden" name="stepId" />		<input type="hidden" name="status" />		<div class="form-group">
	<label class="col-sm-2 control-label">工单客户</label>
	<div class="col-sm-10">
		<input type="text" class="form-control"
			name="page_402809816436375e0164363857f50003_" placeholder="请填写工单客户"
			data-itemid="402809816436375e0164363857de0000" data-fpcid="402809816436375e0164363857f50003"
			data-required="" data-reg="" data-regTip="">
	</div>
</div><div class="form-group">
	<label class="col-sm-2 control-label">工单联系人</label>
	<div class="col-sm-10">
		<input type="text" class="form-control"
			name="page_402809816436375e0164363857f50004_" placeholder="请填写工单联系人"
			data-itemid="402809816436375e0164363857de0000" data-fpcid="402809816436375e0164363857f50004"
			data-required="" data-reg="" data-regTip="">
	</div>
</div><div class="form-group">
	<label class="col-sm-2 control-label">联系电话</label>
	<div class="col-sm-10">
		<input type="text" class="form-control"
			name="page_402809816436375e0164363857f50005_" placeholder="请填写联系电话"
			data-itemid="402809816436375e0164363857de0000" data-fpcid="402809816436375e0164363857f50005"
			data-required="" data-reg="" data-regTip="">
	</div>
</div><div class="form-group">
	<label class="col-sm-2 control-label">上门时间</label>
	<div class="col-sm-10">
		<input type="text" class="form-control"
			name="page_402809816436375e0164363857f50006_" placeholder="请填写上门时间"
			data-itemid="402809816436375e0164363857de0000" data-fpcid="402809816436375e0164363857f50006"
			data-required="" data-reg="" data-regTip="">
	</div>
</div><div class="form-group">
	<label class="col-sm-2 control-label">上门地址</label>
	<div class="col-sm-10">
		<input type="text" class="form-control"
			name="page_402809816436375e0164363857f60007_" placeholder="请填写上门地址"
			data-itemid="402809816436375e0164363857de0000" data-fpcid="402809816436375e0164363857f60007"
			data-required="" data-reg="" data-regTip="">
	</div>
</div>	</form>	<button type="button" class="btn btn-primary btn-lg btn-block">预约</button></body><script th:src="@{/webjars/jquery/jquery.min.js}"></script><script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script></html>