<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
<meta charset="UTF-8" />
<title>#{pageName}</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link th:href="@{/static/plugin/loading/load.min.css}" rel="stylesheet" />
<script th:src="@{/static/plugin/loading/load.min.js}" onload="Loading.start(11)"></script>
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/static/css/flow.css}" rel="stylesheet" />
</head>
<body class="container-fluid">
	<blockquote><b>这里是#{pageName}</b></blockquote>
	<form id="form" action="/tickets/" class="form-horizontal">
		<input type="hidden" name="entityType" /> 
		<input type="hidden" name="entityId" />
		<input type="hidden" name="stepId" />
		#{source}
	</form>
	<div class="confirm_block"></div>
	<div class="confirm_btn">
		<button type="button" class="btn btn-primary btn-lg btn-block">#{pageName}</button>
	</div>
</body>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/layer/dist/layer.js}"></script>
<script th:src="@{/static/js/config.js}"></script>
<script th:src="@{/static/js/app.js}"></script>
<script th:src="@{/static/js/flow.js}"></script>
<script type="text/javascript" th:inline="javascript">
	var host = location.origin;
	var ctx = [[@{/}]];
	app.init(host,ctx);
	$(function(){
		flow.init();
	});
</script>
</html>