<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
<meta charset="UTF-8" />
<title>#{pageName}</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
<link th:href="@{/plugin/loading/load.min.css}" rel="stylesheet" />
<script th:src="@{/plugin/loading/load.min.js}" onload="Loading.start(1)"></script>
</head>
<body class="container-fluid">
	<blockquote><b>这里是流程页面</b></blockquote>
	<form id="form" action="/tickets/" class="form-horizontal">
		<input type="hidden" name="entityType" /> 
		<input type="hidden" name="entityId" />
		<input type="hidden" name="stepId" />
		<input type="hidden" name="status" />
		#{source}
	</form>
	<button type="button" class="btn btn-primary btn-lg btn-block">#{pageName}</button>
</body>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/app.js}"></script>
</html>