*.gitignore
*.classpath
*.project
flow-boot/.settings/
flow-boot/*/.settings/
flow-boot/flow-boot-db2/target/
flow-boot/flow-boot-db1/target/
flow-boot/flow-boot-db/target/
*.springBeans
flow-boot/flow-boot-modeler/target/
