<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>工单</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
<link rel="stylesheet" th:href="@{/webjars/select2/select2.css}"/>
<link rel="stylesheet" th:href="@{/webjars/select2/select2-bootstrap.css}"/>




</head>
<body class="container-fluid">
<h3>开单</h3>
<blockquote>
  <p>请选择一个工单流程进行开单.</p>
</blockquote>

<select class="form-control" th:each="process,processStat : ${processList}">
	<option th:text="${process.processName}">请选择</option>
</select>


<button type="button" class="btn btn-primary btn-lg btn-block">开单</button>




</body>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/select2/select2.min.js}"></script>
<script th:src="@{/webjars/select2/select2_locale_zh-CN.js}"></script>
<script th:src="@{/js/flow.js}"></script>
</html>